
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0px 32px;
    background-color: #035553;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu-icons {
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    display: none;
}


#nav-logo>img {
    height: 120px;
    width: 87px;
    position: relative;
    top: 43px;
    cursor: pointer;
}

#nav-manu>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#nav-manu>ul>li {
    padding-right: 40px !important;
}

#nav-manu>ul>li,
.link {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    padding-right: 0px;
    cursor: pointer;
    color: white !important;
    margin: 0px 5px;
    text-decoration: none;
    animation: slideInFromRightWithOvershoot 1s ease-out;

}

@keyframes slideInFromRightWithOvershoot {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    80% {
      transform: translateX(-5%); 
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
#nav-manu>ul>li:hover {
    color: #01B08C;
}

.dropdown-menu {
    background-color: #035553 !important;
    width: 300px !important;
    padding: 5px !important;
}

.dropdown-item {
    background-color: #035553 !important;
    border-bottom: 1px solid #01B08C !important;
    white-space: normal !important;
    word-wrap: break-word;
    margin: 10px 2px 0px 2px !important;
    width: 100% !important;
}

.dropdown-menu-about {
    width: 200px !important;
}

.dropdown-item:hover {
    color: #01B08C !important;
}

@media only screen and (max-width: 795px) {
    .menu-icons {
        display: block;
        top: 20px;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        position: relative;
    }

    #nav-manu>ul {
        flex-direction: column;
        display: none;
    }

    #nav-manu>ul>li {
        margin-top: 30px;
        width: 100%;
    }

    #open-nav {
        height: 100% !important;
        display: block !important;

    }

    #nav-logo>img {
        height: 80px;
        width: 58px;
        position: relative;
        top: 20px;
    }
}